<label>Server Name</label>
 <input type="text" 
     class = "form-control" 
     (input) = "onUpdateServerName($event)"> 
    <!--dollar sign event is a reserved for data emitted from the event  -->
    <!--the code above is not two way binded. i.e input -> template, but not template -> input  -->

<input type="text" class="form-control" [(ngModel)] = "serverName"> 
<!-- <p>{{ serverName }} </p> -->
    
<button class="btn btn-primary" [disabled] = "!allowNewServer" (click) = "onCreateServer()">Add Server</button>
<!--> this is binding allowNewSever to the disabled property (property binding)-->
<!--> below is string interpolation -->
<!-- <p>{{ allowNewServer }}</p> -->
<!--> below is property binding for innerText -->
<!-- <p [innerText] = "allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<hr>
 <p *ngIf="serverCreated; else noServer">Server was created, servername is {{ serverName }} </p> 
<!-- <p *ngIf="serverCreated">Server was created, servername is {{ serverName}} </p> -->
<!-- the hash tag is a local reference -->
<ng-template #noServer >
    <p>
    No server was created 
    </p>
</ng-template>
<app-server></app-server>
<hr>
<app-success-alert></app-success-alert>
<app-warning-alert></app-warning-alert>